.body{
   /* The image used */
   background-image : url("images/13.jpg") ;

   min-height: 701px;
 
   /* Center and scale the image nicely */
   background-position: fill;
   background-repeat: no-repeat;
   background-size:cover;

   /* text colour */
 color: white;
}


/* The navbar */

  /* Navbar links */
  .topnav a {
    
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* text */
  .content {
    position: absolute;
    top: 200px;
    left: 25px;
    font-family: monospace,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
  }

    /* Style the button and place it in the middle of the image */
 .btn {
    position: absolute;
    overflow: hidden;
    top: 65%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: black;
  }
  